body{
  background-color: black;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  gap: 20px;
}

.box1 button {
  height: 60px;
  width: 60px;
  font-size: 28px;
  border-radius: 50%;
  margin: 5px;
  color: green;
  background-color: #2b2b2b;
  border: 2px solid black;
}

.box2 button {
  height: 60px;
  width: 60px;
  font-size: 28px;
  border-radius: 50%;
  margin: 5px;
  color: green;
  background-color: #2b2b2b;
  border: 2px solid black;
}

.box3 button {
  height: 60px;
  width: 60px;
  font-size: 28px;
  border-radius: 50%;
  margin: 5px;
  color: green;
  background-color: #2b2b2b;
  border: 2px solid black;
}

.box4 button {
  height: 60px;
  width: 60px;
  font-size: 28px;
  border-radius: 50%;
  margin: 5px;
  color: green;
  background-color: #2b2b2b;
  border: 2px solid black;
}

#display{
  height: 60px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 23px;
}

.btn{
  transition: 0.5s;
}
.btn:active{
  transform: scale(0.92);
  background-color: white;
}